/* Light background: #3 5 3 6 2 9; */
/* New light dark background #3 2 3 6 3 d */
/* Dark background: #d f e 5 f 2; */

/* TOP MENU */
.sm-dox {
    background: #25BAA8 !important;
}

.sm-dox a {
    background: none;
}

body {
    background: #10161B;
    background-image: none;
    color: #D8D8D8;
}

div.fragment,
pre.fragment {
    border: 1px solid #10161B;
    background: #10161B;
}

a,
a:link,
a:visited {
    color: #7025BA !important;
}

.highlighted {
    background: none !important;
}

a.highlighted {
    background: none !important;
}

/*********************************************/
/**              Top main menu              **/
/*********************************************/
#main-nav {
    /* display: none; */
    border-bottom: 1px solid #10161B;
}

#main-nav .sm-dox {
    background: transparent !important;
}

.sm-dox a {
    text-shadow: none !important;
    background: transparent !important;
}

.sm-dox a:hover {
    background: #10161B !important;
}

.sm-dox {
    text-shadow: none !important;
    box-shadow: none !important;
}

.sm-dox ul {
    border: 1px solid #000000;
    background: #10161B;
}

.directory tr.even {
    background: #10161B;
}


/*********************************************/
/**               Top search                **/
/*********************************************/
#MSearchSelectWindow {
    border: 1px solid #000000;
    background: #10161B;
}

a.selectItem {
    padding: 3px;
}

a.SelectItem:hover {
    background: #FFFFFF !important;
}

#MSearchResultsWindow {
    border: 1px solid #000000;
    background: #10161B;
    color: #7025BA !important;
    ;
}

/*********************************************/
/**                Main menu                **/
/*********************************************/
#nav-tree {
    background: transparent;
}

#nav-tree .selected {
    background-image: none;
    background: #10161B;
}

/*********************************************/
/**               Main content              **/
/*********************************************/

/*********************************************/
/**               Inline code               **/
/*********************************************/
p code,
li code,
td code,
dd code {
    background-color: #000000;
    border: 1px solid #A8B8D9;

    color: #D8D8D8;
}

/*********************************************/
/**         Table of Contents (ToC)         **/
/*********************************************/
div.toc {
    background: #10161B;
    border: 1px solid #000000;
}

div.toc h3 {
    font-size: 150%;
    color: inherit;
}

/*********************************************/
/**              Content table              **/
/*********************************************/
table.doxtable tr:nth-child(even) td {
    background: #10161B;
}

div.header {
    background: transparent;
    border-bottom: 1px solid #10161B;
}

/*********************************************/
/**               Field table               **/
/*********************************************/
.fieldtable th {
    background: #10161B;
    color: inherit;
}

/*********************************************/
/**           Memitem and memtitle          **/
/*********************************************/
.memdoc {
    border: 1px solid #A8B8D9;
}

/*********************************************/
/**             TOP navigation              **/
/*********************************************/
.tabs,
.tabs2,
.tabs3 {
    background: #DDDDDD;
}

.tablist li {
    background: transparent !important;
}

.tablist a {
    background-image: none;
    border-right: 1px solid #999999;

    color: #10161B;
}

.tablist a:hover,
.tablist li.current a {
    text-decoration: none;
    color: #000000;
    background: #CCCCCC;
    background-image: none;
}

/*********************************************/
/**              H1 in textblocks           **/
/*********************************************/

/*********************************************/
/**               Note, warning             **/
/*********************************************/

/*********************************************/
/**               Reference list            **/
/**Similar to warning/note/todo/... messages**/
/*********************************************/
dl.reflist {}


/*********************************************/
/**               Note, warning             **/
/*********************************************/
#docs_list {
    background: #10161B;
}

#docs_list ul li {
    border-right: 1px solid #BFBFBF;
}

#docs_list ul li a {
    color: #1b1e21;
}

#docs_list ul li a:hover,
#docs_list ul li a.docs_current {
    background: #FFFFFF;
}

/*********************************************/
/**               Resizable UI              **/
/*********************************************/
.ui-resizable-e {
    background: #10161B;
}

/*********************************************/
/**               Download url              **/
/*********************************************/

/*********************************************/
/**               Syntax folor              **/
/*********************************************/
div.line {
    background: transparent;
    color: #25BAA8;
}

div.line a {
    color: inherit;
}

span.keyword {
    color: #BCA876;
    font-style: italic;
}

span.keywordtype {
    color: #25BAA8;
    font-style: italic;
}

span.keywordflow {
    color: #BCA876;
    font-style: italic;
}

span.comment {
    color: #74705a;
}

span.preprocessor {
    color: #25BAA8;
}

span.stringliteral {
    color: #25BAA8;
}

span.charliteral {
    color: #25BAA8;
}

span.vhdldigit {
    color: #BCA876;
}

span.vhdlchar {
    color: #000000;
}

span.vhdlkeyword {
    color: #BCA876;
}

span.vhdllogic {
    color: #BCA876;
}

span.lineno {
    background: transparent;
}

span.lineno a {
    background: transparent;
}

/*********************************************/
/**          Modules/Directory table        **/
/*********************************************/
.mdescLeft,
.mdescRight,
.memItemLeft,
.memItemRight,
.memTemplItemLeft,
.memTemplItemRight,
.memTemplParams {
    background: #10161B;
    color: inherit;
}

.memtemplate {
    color: #B4CCF9;
}

.memSeparator {
    border: none;
    background: transparent;
}

h2.groupheader {
    color: #BCA876;
}

/*********************************************/
/**                 Mem items               **/
/*********************************************/
.memtitle {
    background: #10161B !important;
    border-color: #000000;
}

.memitem {
    background: #10161B !important;
    color: inherit;
    text-shadow: none;
}

.memproto {
    background: inherit;
    border-color: #000000;
    color: inherit;
    text-shadow: none;
}

.memproto table td {
    font-family: monospace, fixed !important;
}

td.memItemLeft,
td.memItemRight {
    font-family: monospace, fixed;
}

.paramname,
.paramname em {
    color: #BCA876;
}

.memdoc {
    background: inherit;
    border-color: #000000;
}


/*********************************************/
/**                 Footer                  **/
/*********************************************/
.titlearea {
    border-bottom: 1px solid #10161B;
}

/*********************************************/
/**                 Footer                  **/
/*********************************************/
#nav-path {
    background: transparent;
}

#nav-path ul {
    background: transparent;
    color: inherit;
    border: none;
    border-top: 1px solid #10161B;
}

.navpath li.footer {
    color: inherit;
}

.navpath li.navelem a {
    text-shadow: none;
}

/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BCA876;
    border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #10161B;
}

/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/
h1.glow,
h2.glow,
h3.glow,
h4.glow,
h5.glow,
h6.glow {
    text-shadow: 0 0 15px #7025BA;
}